body{
    background-color: ;
    color: antiquewhite;
    font-family: sans-serif;
    line-height: 1.6;
}
header{
    background-color: beige;
    color: black;
    text-align: center;
}



footer{
    background-color: chocolate;
    color: aliceblue;
    text-align: center;

}



h2{
    color: rgb(73, 6, 6);

}


.titulo{
    background-color: black;
    color: white;
    font-weight: bold;
}