body{
    background-color:lightgray ;
    color:black;
    font-family: sans-serif;
    line-height: 1.6;
}
header{
    background-color: green;
    color: black;
    text-align: center;
}



footer{
    background-color: rgb(91, 134, 91);
    color: aliceblue;
    text-align: center;

}



h2{
    color: rgb(73, 6, 6);

}


.titulo{
    background-color: black;
    color: white;
    font-weight: bold;
}