body{
    background-color: lightgray;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    
}

.bonito{
    background-color: brown;
    font-weight: bold;
    color: black;
}
    
    



.titulo{
    font-size: 40px;
    letter-spacing: 1px;
    font-family: verdana,arial,sans-serif;
    
}

.subtitulo{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



a:hover{
    color: black;
}


footer{
    background-color: brown;
    color: beige;
}